@import "bootstrap-custom";
@import "spinner";

.signin {
  margin-top: 20px;
}

#header {
  padding-bottom: 10px;
  .signout {
    color: inherit;
  }

  h1 {
    small {
      color: inherit;
    }
  }
  input,button {
    margin-bottom: 5px;
  }
}


.odometer {
  margin-top: -3px;
}
