<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            {{view Ember.Select value=selectedAttribute content=Postman.configs.customEventAttributes class="form-control"}}
        </div>
        <div class="form-group">
            {{input action="search" value=attributeValue placeholder='string' class="form-control"}}
        </div>
        <div class="form-group">
            <button {{action "search"}} class="btn btn-primary btn-block">Search</button>
        </div>
    </div>
</div>
