<div class="row">
    <div class="col-md-12">
        <h1>Browse events by email address</h1>
        <div class="form-group">
            {{input action="search" value=email placeholder='email address' class="form-control"}}
        </div>
        <div class="form-group">
            <button {{action "search"}} class="btn btn-primary btn-block">Show Events</button>
        </div>
    </div>
</div>

{{outlet}}
