<div class="row">
    <div class="col-md-12">
        <h1>Events for <span class="text-primary">{{ email }}</span></h1>
        {{#if not_found }}
            <div class="alert alert-warning">Email not found, check your spelling</div>
        {{/if}}
    </div>
    <div class="col-md-12">
        {{#if loading }}
            loading categories...
        {{else}}
            {{#unless not_found }}
                <ul class="nav nav-tabs">
                    {{#each category in categories}}
                        {{view Postman.NavView category=category}}
                    {{/each}}
                </ul>
            {{/unless}}
        {{/if}}
    </div>
</div>

{{outlet}}
