<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>EmberMail</title>

        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
        <link rel="stylesheet" href="css/style.css">
</head>
    <body>
        <!-- build:js(app) scripts/components.js -->
        <script src="js/bower_components/jquery/jquery.js"></script>
        <script src="js/bower_components/handlebars/handlebars.runtime.js"></script>
        <script src="js/bower_components/momentjs/min/moment.min.js"></script>
        <script src="@@ember"></script>
        <script src="@@ember_data"></script>
        <!-- endbuild -->

        <!-- build:js(.tmp) scripts/templates.js -->
        <script src="scripts/compiled-templates.js"></script>
        <!-- endbuild -->

        <!-- build:js(.tmp) scripts/main.js -->
        <script src="scripts/combined-scripts.js"></script>
        <!-- endbuild -->

        <%# KEEN INIT %>
</body>
</html>
