<div class="row">
    <div class="col-md-12">
        {{#if loading }}
            <div class="postman-spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        {{else}}
            {{#if controller.length }}
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th></th>
                            {{#if showEmail }}
                                <th>Email</th>
                            {{/if}}
                            <th>Type of mail</th>
                            <th>Ip</th>
                            <th>Time</th>
                            {{#each attribute in customAttributes }}
                                <th>{{attribute}}</th>
                            {{/each}}
                        </tr>
                    </tbody>
                    {{#each event in controller}}
                        {{view Postman.EventRowView event=event}}
                    {{/each}}
                </table>
            {{else}}
                <div class="alert alert-warning">No events not found</div>
            {{/if}}
        {{/if}}
    </div>
</div>
