<div class="container">
    <div class="row">
        <div class="col-md-12 bg-primary" id="header">
            <div class="row">
                <div class="col-md-10">
                    <h1>Postman <small>Search in {{view Postman.OdometerView contentBinding=model}} email events</small></h1>
                </div>
                <div class="col-md-2 text-right">
                    <a href="/signout" class="signout">Sign out</a>
                </div>
            </div>
            {{input action="search" value=email placeholder='email address' class="form-control"}}
            <button {{action "search"}} class="btn btn-default btn-block">Search</button>
        </div>
    </div>

    {{outlet}}

</div>
