<header>
    <h1>Postman</a>
    <h2>Search in {{view Postman.OdometerView contentBinding=model}} email events</h2>
</header>

<div class="pure-g-r">
    <div class="pure-u-1">
        <br>
        <form class="pure-form">
            {{input value=email placeholder='email address'}}
            <button {{action 'search'}} class="pure-button">Search</button>
        </form>
    </div>
    <div class="pure-u-1">
        {{outlet}}
    </div>
    <div class="pure-u-1" id="signin">
        <a href="/signout" class="pure-button">Sign out</a>
    </div>
</div>

